.results-content {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: center;
}

.results-content img {
    margin-bottom: 1rem;
}

.results-content span{
    transition: all .4s;
    font-size: 2rem;
    margin-bottom: 1rem;
}